<mat-card class="w-7/12 mx-auto">
  <mat-card-content>
    <canvas *ngIf="cdGermany.datasets.length; else loadingGermany" baseChart [data]="cdGermany" [options]="chartOptions" chartType="line"></canvas>
    <ng-template #loadingGermany>
      Loading...
    </ng-template>
  </mat-card-content>
</mat-card>
<mat-card class="w-7/12 mx-auto">
  <mat-card-content>
    <canvas *ngIf="cdSaxony.datasets.length; else loadingSaxony" baseChart [data]="cdSaxony" [options]="chartOptions" chartType="line"></canvas>
    <ng-template #loadingSaxony>
      Loading...
    </ng-template>
  </mat-card-content>
</mat-card>
<mat-card class="w-7/12 mx-auto">
  <mat-card-content>
    <canvas *ngIf="cdLeipzig.datasets.length; else loadingLeipzig" baseChart [data]="cdLeipzig" [options]="chartOptions" chartType="line"></canvas>
    <ng-template #loadingLeipzig>
      Loading...
    </ng-template>
  </mat-card-content>
</mat-card>
<mat-card class="w-7/12 mx-auto mb-5">
  <mat-card-content>
    Data provided by RKI (Robert Koch Institute), using the data for <a href="https://corona.rki.de" target="_blank">corona.rki.de</a>.
    <br><br>
    The data can be queryed by
    <a href="https://services7.arcgis.com/mOBPykOjAyBO2ZKk/ArcGIS/rest/services/Covid19_RKI_Sums/FeatureServer/0/query" target="_blank">ArcGIS REST Services Directory</a>.
  </mat-card-content>
</mat-card>
